<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>
    <add name="BIT" providerName="Sql.Data.SqlClient"
         connectionString ="Data Source=(localdb)\MSSQLLocaldb; 
         attachDbFileName=|DataDirectory|\BITServices.mdf;
         integrated security=true;" />
  </connectionString>
</configuration>